*{
    margin:0;
    padding: 0;
}

@media screen and (max-width:578px){
    .header-container{
        height: 60%;
        width: 30%;
    
    margin: 1em 0em; }
    .sub-header{
        left: 1em;
        top: 2%;
        height: 10%;
        width: 40%;
    }
}
#header{
    background: url("assets/images/map.jpg");
    width:40em;
    margin: auto;
    height: 21em;
    opacity: 0.8;
    

}

h1{
    color: white;
    padding: 2em;
    font-size: 3em;
    text-shadow: 2px 2px black;

}
.start_button{

    text-align: center;
    margin: 1em auto;

}
#start_game{

    background-color: #ad7c43;
    font-size: 1em;
    padding: 0.5em;
    color: white;
    font-weight: bold;
    border-radius: 1em;
}
header{
    padding: 5em auto;
  
    text-align: center;

}

button#start-game{
    text-align:center;
    max-width: 30%;
    margin: auto;
}
img{
    width: 300px;
    height: 200px;

}