*{
    margin:0em;
    padding: 0em;
}

.game_body{

    margin: 0.5em auto;
    text-align: center;

}
.rules{
    
    width: 60em;
    margin: 1em auto;
    text-align:center
}
span{
    font-size:1em;
    font-weight: normal
}
.rules p{
    font-size:1em;
    margin: 0.2em;
}

#header{
    background: url("assets/images/map.jpg");
    width:40em;
    margin: auto;
    height: 21em;
    opacity: 0.8;
    background-size: 40em 21em;
    box-shadow: 0.5px 0.5px 0.5px 0.5px #888888;
}

label{
    background-color: orange;
}
#word_holder{
    margin: 2em auto;

}
h1{
    color: white;
    padding: 2em;
    font-size: 3em;
    text-shadow: 2px 2px black;

}


#linklearnMore { 
    position: absolute;
    top:6em;
    color: white;
    font-size: 2em;
    text-shadow: 1px 1px black;
    text-decoration: none;

   

}
a:active{
    color:white;
}
a:hover{
    color:white;
}

.start_button{

    text-align: center;
    margin: 0.5em auto;

}
#start_game{

    background-color: #ad7c43;
    font-size: 1em;
    padding: 0.5em;
    color: white;
    font-weight: bold;
    border-radius: 1em;
}
header{
    padding: 5em auto;
    text-align: center;
    position: relative;

}

button#start-game{
    text-align:center;
    max-width: 30%;
    margin: auto;
}
img{
    width: 300px;
    height: 200px;

}

#guessed_letters{
    font-size: 1.5em;

}
@media screen and (max-width:700px)
{
    .header-container{
        height: 60%;
        width: 30%;
        margin: 1em 0em; 
    }
    .sub-header{
        left: 1em;
        top: 2%;
        height: 10%;
        width: 40%;
    }
    #header{
        width: 40em;
        margin: 0em;
    }
    .rules{
    
        width: 40em;
        margin: 0em;
        text-align:left;
    }
}
@media screen and (max-width:1000px)
{
    .header-container{
        height: 60%;
        width: 30%;
    
    margin: 1em 0em; }
    .sub-header{
        left: 1em;
        top: 2%;
        height: 10%;
        width: 40%;
    }
    #header{
        width: 40em;
        margin: 1em;
    }
    .rules{
    
        width: 40em;
        margin: 1em auto;
        text-align:left;
    }
}